.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #eff1f6; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #0d0f16;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin: 10px 0; 
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #205274;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large;
    width: 180px;
  }
  
  .button:hover {
    background-color: #af695c; 
  }
  .circular-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  