.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #eff1f6; 
  min-height: 100vh; 
}

.card {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.card-header {
  background-color: #af695c; 
  color: white;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.5em;
  text-align: center;
}

.notas-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinear el contenido horizontalmente en el centro */
  gap: 20px;
  margin: 20px 0;
  max-width: 1000px;

}

.notas-table {
  width: 100%;
  border-collapse: collapse; /* Eliminar espacio entre celdas */
}

.notas-table td, .notas-table th {
  padding: 0; /* Eliminar el relleno */
  margin: 0;  /* Asegurarte de que no haya márgenes */
  text-align: center; /* O text-align: left; según tus preferencias */
  vertical-align: middle; /* Alinear verticalmente el contenido */
  border: 1px solid #dddddd; /* Agregar un borde para mejorar la visualización */
  width: 550px; /* Ancho fijo para las celdas */
  max-width: 700px;
  overflow: hidden; /* Ocultar el desbordamiento */
  white-space: nowrap; /* Evitar saltos de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos para texto largo */
}

.notas-table thead {
  background-color: #af695c;
  color: white;
}

.notas-table tbody tr.hover-parent:hover {
  background-color: #d4a8a0; 
  color: white;
}

/* Estilo de hover para filas hijas */
.notas-table tbody tr.hover-child:hover {
  background-color: #d4a8a0;
  color: white;
}

.notas-table tbody tr {
  transition: background-color 0.3s ease; 
}

.notas-table td {
  font-size: 1em;
}

.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
